<div class="content row">
  <div class="text-left">
    <blockquote>
      <p i18n>Разработку свободной библиотеки ведёт<br/>
      ООО «Базальт Свободное программное обеспечение»</p>

      <p><ng-container i18n="@@Phone">Тел.:</ng-container> +7 (495) 123-47-99</p>
      <p>Email: <a href="mailto:org&#64;basealt.ru">org&#64;basealt.ru</a></p>
      <p i18n="@@Address">Москва, ул. Бутырская, д. 75</p>
      <p><ng-container i18n="@@INN">ИНН:</ng-container> 7714350892</p>
      <p><img src="../../assets/basealt.png" alt=""/></p>
    </blockquote>
  </div>
</div>

