<div class="content row">
  <div class="text-left">
    <blockquote>
      <h3>
        <a href="example/example1" i18n>Пример использования библиотеки
        libdomain в программе на языке C</a>
      </h3>
      <h3>
        <a href="example/exampleqt" i18n>Пример использования библиотеки
        libdomain совместно с фреймворком Qt</a>
      </h3>
      <h3>
        <a href="example/powershell" i18n>Пример использования библиотеки
        libdomain совместно с PowerShell</a>
      </h3>
    </blockquote>
  </div>
</div>
