<main class="main">
  <header class="container">
    <nav class=" navigation navbar-expand-lg navbar navbar-light nav-pills py2">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav  text-nowrap">
            <li class="nav-item">
              <a class="nav-link"
                aria-current="page"
                routerLink="/"
                routerLinkActive="active"
                rel="noopener"
                [routerLinkActiveOptions]="{exact:true}"
                i18n>Главная</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="news"
                routerLinkActive="active"
                i18n>Новости</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://github.com/libdomain/libdomain"
                target="_blank"
                i18n>Исходный код</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="example"
                routerLinkActive="active"
                i18n>Примеры использования</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="docs"
                routerLinkActive="active"
                i18n>Документация</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="license"
                routerLinkActive="active"
                i18n>Лицензия</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="contacts"
                routerLinkActive="active"
                i18n>Контакты</a>
            </li>
          </ul>

        </div>
        <ul class="navbar-nav d-flex">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#" id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              i18n>Выбор языка</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/ru">Русский</a></li>
              <li><a class="dropdown-item" href="/en">English</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <div class="row">
      <a href="" class="logo mx-auto col-lg-4">
        <img class="logo" src="assets/logowht.svg" alt="logo" aria-hidden="true">
      </a>
    </div>
  </header>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <footer class="container">
    <div class="d-flex justify-content-around top">
      <img class="brand-logo" src="assets/basealt.png" alt="basealtlogo" aria-hidden="true">
      <div>
        <ng-container i18n="@@Phone">Тел.:</ng-container> +7 (495) 123-47-99<br>
        Email: <a href="mailto:org&#64;basealt.ru">org&#64;basealt.ru</a><br>
        <ng-container i18n="@@Address">Москва, ул. Бутырская, д. 75</ng-container><br>
        <ng-container i18n="@@INN">ИНН:</ng-container> 7714350892
      </div>
    </div>
    <div class="flex-row justify-content-between bottom">
      <div class="copyright" i18n>© ООО «Базальт СПО» — российский разработчик операционных систем «Альт», 2015–2023</div>

      <div class="social-links">
        <a
        href="https://zen.yandex.ru/id/621e0fc88b26266f04745c3f"
        aria-label="zen.yandex"
        target="_blank"
        rel="noopener"
        >
          <svg
          width="29"
          height="29"
          viewBox="0 0 48 48"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          alt="Яндекс Дзен"
          >
            <path
            d="M42.26 22.927c.014 0 .027 0 .041 0 .427 0 .833-.182 1.118-.5.294-.329.429-.771.367-1.208-1.23-8.814-8.247-15.811-17.063-17.015-.436-.057-.869.073-1.196.362S25.015 5.274 25.02 5.71C25.198 19.959 27.776 22.534 42.26 22.927zM42.261 25.071C27.774 25.456 25.196 28.031 25.02 42.29c-.005.437.18.854.507 1.143.275.244.63.376.993.376.067 0 .135-.004.203-.014 8.818-1.204 15.835-8.202 17.063-17.017.062-.437-.073-.878-.367-1.207C43.124 25.242 42.698 25.049 42.261 25.071zM5.736 25.063c-.438-.022-.863.171-1.156.5-.294.329-.428.77-.367 1.206 1.225 8.82 8.242 15.821 17.064 17.026.068.009.136.014.203.014.363 0 .718-.132.993-.376.327-.289.512-.706.507-1.143C22.804 28.008 20.225 25.432 5.736 25.063zM21.277 4.205C12.455 5.41 5.438 12.411 4.213 21.231c-.061.437.073.877.367 1.206.284.319.691.5 1.118.5.013 0 .025 0 .038 0C20.225 22.568 22.804 19.992 22.98 5.71c.005-.437-.18-.854-.507-1.143C22.147 4.279 21.716 4.148 21.277 4.205z"
            />
          </svg>
        </a>
        <a
        href="https://www.youtube.com/channel/UCtCfzqL49AkFYQ7JQcL_iSw"
        aria-label="Youtube"
        target="_blank"
        rel="noopener"
        >
          <svg
          width="29"
          height="20"
          viewBox="0 0 29 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          alt="Youtube"
          >
            <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M27.4896 1.52422C27.9301 1.96749 28.2463 2.51866 28.4068 3.12258C29.0004 5.35161 29.0004 10 29.0004 10C29.0004 10 29.0004 14.6484 28.4068 16.8774C28.2463 17.4813 27.9301 18.0325 27.4896 18.4758C27.0492 18.9191 26.5 19.2389 25.8972 19.4032C23.6778 20 14.8068 20 14.8068 20C14.8068 20 5.93586 20 3.71651 19.4032C3.11363 19.2389 2.56449 18.9191 2.12405 18.4758C1.68361 18.0325 1.36732 17.4813 1.20683 16.8774C0.613281 14.6484 0.613281 10 0.613281 10C0.613281 10 0.613281 5.35161 1.20683 3.12258C1.36732 2.51866 1.68361 1.96749 2.12405 1.52422C2.56449 1.08095 3.11363 0.76113 3.71651 0.596774C5.93586 0 14.8068 0 14.8068 0C14.8068 0 23.6778 0 25.8972 0.596774C26.5 0.76113 27.0492 1.08095 27.4896 1.52422ZM19.3229 10L11.9036 5.77905V14.221L19.3229 10Z"
            />
          </svg>
        </a>
        <a
        href="https://teleg.one/basealtspo"
        aria-label="Telegram"
        target="_blank"
        rel="noopener"
        >
          <svg
          width="29"
          height="29"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          alt="Telegram"
          >
            <path
            fill-rule="evenodd"
            clip-rule="evenodd" d="M29.919 6.163l-4.225 19.925c-0.319 1.406-1.15 1.756-2.331 1.094l-6.438-4.744-3.106 2.988c-0.344 0.344-0.631 0.631-1.294 0.631l0.463-6.556 11.931-10.781c0.519-0.462-0.113-0.719-0.806-0.256l-14.75 9.288-6.35-1.988c-1.381-0.431-1.406-1.381 0.288-2.044l24.837-9.569c1.15-0.431 2.156 0.256 1.781 2.013z"
            />
          </svg>
        </a>
        <a
        href="https://vk.com/altlinux"
        aria-label="VK"
        target="_blank"
        rel="noopener"
        >
          <svg
          width="29"
          height="29"
          viewBox="0 0 512 512"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          alt="VK"
          >
            <path
            fill-rule="evenodd"
            clip-rule="evenodd" d="M484.7,132c3.56-11.28,0-19.48-15.75-19.48H416.58c-13.21,0-19.31,7.18-22.87,14.86,0,0-26.94,65.6-64.56,108.13-12.2,12.3-17.79,16.4-24.4,16.4-3.56,0-8.14-4.1-8.14-15.37V131.47c0-13.32-4.06-19.47-15.25-19.47H199c-8.14,0-13.22,6.15-13.22,12.3,0,12.81,18.81,15.89,20.84,51.76V254c0,16.91-3,20-9.66,20-17.79,0-61-66.11-86.92-141.44C105,117.64,99.88,112,86.66,112H33.79C18.54,112,16,119.17,16,126.86c0,13.84,17.79,83.53,82.86,175.77,43.21,63,104.72,96.86,160.13,96.86,33.56,0,37.62-7.69,37.62-20.5V331.33c0-15.37,3.05-17.93,13.73-17.93,7.62,0,21.35,4.09,52.36,34.33C398.28,383.6,404.38,400,424.21,400h52.36c15.25,0,22.37-7.69,18.3-22.55-4.57-14.86-21.86-36.38-44.23-62-12.2-14.34-30.5-30.23-36.09-37.92-7.62-10.25-5.59-14.35,0-23.57-.51,0,63.55-91.22,70.15-122"
            />
          </svg>
        </a>
        <a
        href="https://forum.altlinux.org/"
        aria-label="forum.altlinux.org"
        target="_blank"
        rel="noopener"
        >
          <svg
          width="29"
          height="29"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          alt="forum.altlinux.org"
          >
            <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M22.7 11.92a5.7 5.7 0 0 1-.66 7.94c-.7.6-.94 1.1-.5 1.91.08.15.1.34.14.52-.7-.31-1.35-.78-2.04-.85-.69-.07-1.41.32-2.13.4a7.1 7.1 0 0 1-5.76-1.89c-3.07-2.84-2.63-7.2.92-9.52 3.16-2.07 7.8-1.38 10.02 1.49zm-7.41-7.03a6.65 6.65 0 0 1 1.38 3.52c-2.22.11-4.16.79-5.73 2.31a6.81 6.81 0 0 0-2.12 5.78c-.87-.11-1.66-.23-2.46-.3-.28-.02-.6.01-.84.14-.77.44-1.51.93-2.4 1.48.17-.73.27-1.37.46-1.98.13-.45.07-.7-.35-1C.56 12.95-.57 10.13.28 7.22c.78-2.7 2.7-4.33 5.3-5.18a8.89 8.89 0 0 1 9.7 2.85zm-1.63 7.97c-.47 0-.86.4-.84.86a.84.84 0 0 0 1.67 0 .84.84 0 0 0-.83-.86zm5.17 0c-.44 0-.81.35-.83.8-.02.47.35.85.82.85a.8.8 0 0 0 .82-.78.82.82 0 0 0-.81-.87zm-7.06-6.39c-.55.01-1.01.48-1 1.01a1 1 0 0 0 1.03.98c.56 0 1-.44.99-1a1 1 0 0 0-1.02-.99zm-6.34 0a1 1 0 0 0-1.04.97c-.01.56.42 1 .98 1.02.56.01 1.03-.42 1.05-.96a1.03 1.03 0 0 0-.99-1.03z"
          />
          </svg>
        </a>
        <a
        href="https://manton7787.github.io/feed.rss"
        aria-label="RSS"
        target="_blank"
        rel="noopener"
        >
          <svg
          width="29"
          height="29"
          viewBox="0 0 512 512"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          alt="RSS"
          >
            <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M108.56,342.78a60.34,60.34,0,1,0,60.56,60.44A60.63,60.63,0,0,0,108.56,342.78Z" id="mainIconPathAttribute">
            </path>
            <path
            fill-rule="evenodd"
            clip-rule="evenodd" d="M48,186.67v86.55c52,0,101.94,15.39,138.67,52.11s52,86.56,52,138.67h86.66C325.33,312.44,199.67,186.67,48,186.67Z">
            </path>
            <path
            fill-rule="evenodd"
            clip-rule="evenodd" d="M48,48v86.56c185.25,0,329.22,144.08,329.22,329.44H464C464,234.66,277.67,48,48,48Z">
            </path>
          </svg>
        </a>
      </div>
    </div>
  </footer>
</main>
