<div class="content row">
  <div class="text-left">
    <blockquote>
      <p i18n>
        Libdomain — это открытая библиотека, которая умеет обрабатывать запросы
        к различным службам каталогов, таких как Microsoft AD, Samba AD,
        OpenLDAP, FreeIPA. Зная API только одной библиотеки, можно получить
        доступ ко всем поддерживаемым ею службам каталогов. На текущий момент
        мы реализовали поддержку OpenLDAP, а к концу 2023 года планируем
        поддержать Microsoft AD и Samba AD.
      </p>

      <p i18n>
        Не нужно писать API под каждую службу каталогов. Достаточно использовать
        библиотеку libdomain, чтобы разработать продукт, который адаптирован,
        чтобы управлять любыми доменами или позволяющий мигрировать с одного
        типа домена на другой. Что особенно актуально в связи с текущей
        политикой импортозамещения.
      </p>

      <p i18n>
        Как это работает? Клиент передаёт API библиотеки запрос. Библиотека его
        обрабатывает и трансформирует в подходящий запрос для каждой конкретной
        службы каталогов. В библиотеке есть модуль, который распознает,
        с которой именно службой каталогов идёт взаимодействия. Служба каталогов
        принимает запрос и отвечает на него. Библиотека обрабатывает
        и возвращает клиенту унифицированный ответ.
      </p>

      <p i18n>
        Клиенту не нужно заботиться о формате сообщения для конкретной
        службы каталогов. За него всё сделает библиотека.
      </p>
    </blockquote>

    <div class="lead text-center">
      <a href="assets/scheme_1.png">
        <img
          src="assets/scheme_1.png"
          i18n-alt alt="Взаимодействие библиотеки libdomain с службам каталогов"
          class="img-fluid">
      </a>
    </div>

    <blockquote>
      <p i18n>
        В библиотеке реализована поддержка наиболее популярных служб каталогов
        с различными схемами. Вокруг этого модуля реализована связка базовой
        библиотеки libdomain с фреймворками, такими как QT и .Net.
        Сама же библиотека представляет собой обвязку вокруг LDAP.
      </p>
    </blockquote>

    <div class="lead text-center">
      <a href="assets/scheme_2.png">
        <img
          src="assets/scheme_2.png"
          i18n-alt alt="Связка базовой библиотеки libdomain с фреймворками"
          class="img-fluid">
      </a>
    </div>

    <blockquote>
      <p i18n>
        Библиотека libldap оперирует записями, у каждой из которых есть атрибуты.
        Сама библиотека не дифференцирует записи как сущности или объекты домена.
        Для корректного отображения записи ранее в приложении ADMC был
        разработан модуль adldap, в котором были реализованы критерии
        вычисления сущности по набору специфических атрибутов.
      </p>
    </blockquote>

    <div class="lead text-center">
      <a href="assets/scheme_3.png">
        <img
          src="assets/scheme_3.png"
          i18n-alt alt="ADMC с модулем adldap"
          class="img-fluid">
      </a>
    </div>

    <blockquote>
      <p i18n>
        На текущий момент этот модуль перемещен из приложения ADMC
        в библиотеку libdomain, таким образом все запросы приложение ADMC
        адресует API библиотеки libdomain, а она в свою очередь перенаправляет
        их либо библиотеке libldap, либо libldb.
      </p>
    </blockquote>

    <div class="lead text-center">
      <a href="assets/scheme_4.png">
        <img
          src="assets/scheme_4.png"
          i18n-alt alt="Модуль adldap в libdomain"
          class="img-fluid">
      </a>
  </div>
</div>
